h1 {
    font-family: "sunflower", sans-serif;
    text-align: center; /* Center the text */
    font-size: 5rem; /* Adjust the size as needed */
    color: white; /* Matching with window theme */
    font-weight: bold; /* Make it bold */
    margin-top: 15px; /* Add space from the top */
    margin-bottom: 0px;
    text-shadow: 2px 2px 8px rgba(13, 9, 9, 0.6);
  }
  
  body {
    background-color:#003135; /* Adjust window background color */
  }

  
  